body {
	--text-color: black;
	--bkg-color: #f1f1f1;
	--color-strong: white;
	--color-main: #4caf50;
	--color-error: #f44336;
	--color-warning: #ffffcc;
	--color-function: #f1f1f1;
	--anchor-color: black;
	--bkg-color-modal: white;
	--text-color-table-head: white;
	--bkg-color-table-head: #4c4b4b;
	--bkg-color-table-row-odd: white;
	--bkg-color-table-row-even: #f1f1f1;
	--bkg-color-table-row-hover: #ffcf9e;
	--bkg-color-table-row-selected: #f5a55b;
	--text-color-table-row-selected: black;
	--text-color-button-selected: black;
	--bkg-color-button-selected: #9e9e9e;
	--text-color-button-hover: black;
	--bkg-color-button-hover: #cccccc;
	--bkg-color-dt-button: #e9e9e9;
	--bkg-image-dt-button: linear-gradient(to bottom, white 0%, #e9e9e9 100%);
	--text-color-dt-button: black;
	--bkg-color-light-green: #8bc34a;
	--bkg-color-tab-hover: #e7e7e7;
	color-scheme: light;
}

body.dark-theme {
	--text-color: #f6f6f9 !important;
	--bkg-color: #636368 !important;
	--color-strong: #487299 !important;
	--color-main: #3b5670 !important;
	--color-function: #6a9cce !important;
	--anchor-color: #f6f6f9 !important;
	--bkg-color-modal: #535d70 !important;
	--text-color-table-head: #ffffff !important;
	--bkg-color-table-head: #3d496d !important;
	--bkg-color-table-row-odd: #616877 !important;
	--bkg-color-table-row-even: #72778d !important;
	--bkg-color-table-row-hover: #a7acbc!important;
	--bkg-color-table-row-selected: #b5bac8 !important;
	--text-color-table-row-selected: black !important;
	--bkg-color-dt-button: #3b5670 !important;
	--bkg-image-dt-button: linear-gradient(to bottom, #3b5670 0%, #38393a 100%) !important;
	--text-color-dt-button: #f6f6f9 !important;
	--bkg-color-light-green: #6f8397 !important;
	--bkg-color-tab-hover: #a9bacd !important;
	--text-color-button-selected:#383007 !important;
	--bkg-color-button-selected:#a6c5e4 !important;
	--text-color-button-hover:#000000 !important;
	--bkg-color-button-hover:#719abf !important;
	color-scheme: dark;
}
