body.dark-theme {
    --text-color: #f6f6f9 !important;
    --bkg-color: #636368 !important;
    --color-strong: #487299 !important;
    --color-main: #3b5670 !important;
    --color-function: #6a9cce !important;
    --anchor-color: #f6f6f9 !important;
    --bkg-color-modal: #535d70 !important;
    --text-color-table-head: #ffffff !important;
    --bkg-color-table-head: #3d496d !important;
    --bkg-color-table-row-odd: #616877 !important;
    --bkg-color-table-row-even: #72778d !important;
    --bkg-color-table-row-hover: #a7acbc!important;
    --bkg-color-table-row-selected: #b5bac8 !important;
    --text-color-table-row-selected: black !important;
    --bkg-color-dt-button: #3b5670 !important;
    --bkg-image-dt-button: linear-gradient(to bottom, #3b5670 0%, #38393a 100%) !important;
    --text-color-dt-button: #f6f6f9 !important;
    --bkg-color-light-green: #6f8397 !important;
    --bkg-color-tab-hover: #a9bacd !important;
    --text-color-button-selected:#383007 !important;
    --bkg-color-button-selected:#a6c5e4 !important;
    --text-color-button-hover:#000000 !important;
    --bkg-color-button-hover:#719abf !important;
    color-scheme: dark;
}
