/**
 * Bacularis 'lumberjack's dream' theme.
 *
 * @author Beata Haba <masmika@gmail.com>
 * @version 1.0.0
 */

body {
	--text-color: #1c271d !important;
	--bkg-color: #f2ebe2 !important;
	--color-strong: #e8c595 !important;
	--color-main: #75432b !important;
	--color-function: #9d7d66 !important;
	--anchor-color: black !important;
	--bkg-color-modal: #e7c69e !important;
	--text-color-table-head: #f8e7df !important;
	--bkg-color-table-head: #623e30 !important;
	--bkg-color-table-row-odd: white !important;
	--bkg-color-table-row-even: #f5e7d0 !important;
	--bkg-color-table-row-hover: #eccfad !important;
	--bkg-color-table-row-selected: #f3b776 !important;
	--text-color-table-row-selected: black !important;
	--bkg-color-dt-button: #f2a791 !important;
	--bkg-image-dt-button: linear-gradient(to bottom, white 0%, #f5d1a2 100%) !important;
	--text-color-dt-button: #010301 !important;
	--bkg-color-light-green: #f2970a !important;
	--bkg-color-tab-hover: #e9cfa6 !important;
	--text-color-button-selected:#383007 !important;
	--bkg-color-button-selected:#ea8611 !important;
	--text-color-button-hover:#000000 !important;
	--bkg-color-button-hover:#e8c76f !important;
	color-scheme: light;
}

body.dark-theme {
	--text-color: #e5e5e5 !important;
	--bkg-color: #242424 !important;
	--color-strong: #0e0e0e !important;
	--color-main: #364a89 !important;
	--color-error: #d33a2f !important;
	--color-warning: #0e0e0e !important;
	--color-function: #606060 !important;
	--anchor-color: #e5e5e5 !important;
	--bkg-color-modal: #242424 !important;
	--text-color-table-head: #e5e5e5 !important;
	--bkg-color-table-head: #181717 !important;
	--bkg-color-table-row-odd: #242424 !important;
	--bkg-color-table-row-even: #181717 !important;
	--bkg-color-table-row-hover: #606060 !important;
	--bkg-color-table-row-selected: #e5e5e5 !important;
	--text-color-table-row-selected: #181717 !important;
	--text-color-button-selected: black !important;
	--bkg-color-button-selected: #9e9e9e !important;
	--text-color-button-hover: black !important;
	--bkg-color-button-hover: #cccccc !important;
	--bkg-color-dt-button: #181717 !important;
	--bkg-image-dt-button: none !important;
	--text-color-dt-button: white !important;
	--bkg-color-light-green: #2d53cb !important;
	--bkg-color-tab-hover: #606060 !important;
	color-scheme: dark;
}
